---
http_interactions:
- request:
    method: post
    uri: https://api.platform.athenahealth.com/oauth2/v1/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-118.mashery.com
    body:
      encoding: UTF-8
      string: '{"access_token":"test_access_token","token_type":"bearer","expires_in":3600,"refresh_token":"test_refresh_token"}'
      effective_url: https://api.platform.athenahealth.com/oauth2/v1/token
  recorded_at: Wed, 17 Feb 2016 10:03:27 GMT
- request:
    method: post
    uri: https://api.platform.athenahealth.com/v1/195900/patients
    body:
      encoding: US-ASCII
      string: firstname=Mateusz&lastname=U.&emai=mat@u.com&dob=wrong date&departmentid=162
    headers:
      Authorization:
      - Bearer test_access_token
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      nnCoection:
      - close
      X-Mashery-Message-ID:
      - 39b1d482-74ff-4bdb-bdd4-d88ebc43f05d
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-108.mashery.com
    body:
      encoding: UTF-8
      string: |2-


        {"error":"Improper DOB."}
      effective_url: https://api.platform.athenahealth.com/v1/195900/patients
  recorded_at: Wed, 17 Feb 2016 10:03:27 GMT
recorded_with: VCR 3.0.1
